* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #080202;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.swiper-button-prev::after {
  font-size: 25px;
}

.swiper-button-next::after {
  font-size: 25px;
}

.swiper-button-next {
  color: #db241b;
}

.swiper-button-prev {
  color: #db241b;
}

.swiper-pagination-bullet {
  background-color: #d3d2d2;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #db241b;
}

.menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #0d0d0d; /* Añade fondo para mejor visibilidad */
}

.navbar {
  display: flex;
}

.menu-1 {
  margin-right: 50px;
}

.menu-2 {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.logo-1 {
  width: 0;
}

.logo-2 {
  width: 100px;
  height: 100px;
}

.socials {
  display: flex;
}

.social {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  border: 1px solid #db241b;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social:hover {
  background-color: #db241b;
}

.social img {
  width: 50px;
  height: 50px;
  filter: invert(100%) brightness(100%);
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 15px;
  padding: 20px;
  color: #ffffff;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #db241b;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  margin-top: 200px;
  padding-bottom: 50px;
}

main {
  width: 100%;
  padding: 90px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.5);
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transform: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #46a2fd;
}

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  color: white;
  cursor: pointer;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

/*Trabajando en el responsive design*/

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  /*Formulario*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}
